<div class="tab-pane active" id="tab3">
    <form method="POST" action="#">
        <div class="input-group">
            <label class="label">Votre recherche:</label>
            <input class="input--style-1" type="text" id="search_term" name="search_term" placeholder="Sushis" required="required">
        </div>
        <div class="input-group">
            <label class="label">Votre adresse:</label>
            <input class="input--style-1" type="text" id="address" name="address" placeholder="16 rue Huguerie - 33000 Bordeaux" required="required">
        </div>
        <button class="btn-submit" type="submit">Rechercher</button>
    </form>
</div>