<div class="page-wrapper bg-color-1 p-t-75 p-b-100">
  <div class="wrapper wrapper--w680">
      <div class="card card-2">
          <div class="card-body">
              <ul class="tab-list">
                  <li class="tab-list__item">
                      <a class="tab-list__link isDisabled" href="#tab1" data-toggle="tab">Hôtels</a>
                  </li>
                  <li class="tab-list__item">
                      <a class="tab-list__link isDisabled" href="#tab2" data-toggle="tab">Voitures</a>
                  </li>
                  <li class="tab-list__item active">
                      <a class="tab-list__link" href="#tab3" data-toggle="tab">restaurants</a>
                  </li>
              </ul>
              <div class="tab-content">
                  <div class="tab-pane" id="tab1"></div>
                  <div class="tab-pane" id="tab2"></div>
                  <app-resto-searchbar></app-resto-searchbar>

                  <app-resultzone></app-resultzone>
              </div>
          </div>
      </div>
  </div>
</div>